* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'pftx', sans-serif;
    overflow: hidden; /* 防止滚动条影响全屏视频 */
    -webkit-font-smoothing: antialiased; /* 对WebKit浏览器进行字体抗锯齿处理 */
    -moz-osx-font-smoothing: grayscale; /* 对Firefox进行字体抗锯齿处理 */
    text-rendering: optimizeLegibility; /* 优化文本可读性 */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* 移除边框 */
    outline: none; /* 移除焦点轮廓 */
    overflow: hidden; /* 防止内容溢出 */
    z-index: -1;
    object-fit: cover;
    background-size: cover;
}

.fallback-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('src/background.jpg') no-repeat center center;
    background-size: cover;
    z-index: -2;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.39);
    -webkit-backdrop-filter: blur(23px);  /* Safari 9+ */
    backdrop-filter: blur(23px);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2; /* 确保此框在视频之上 */
}

.center-box h1 {
    color: #333;
    font-size: 2.5rem; /* 相对于根元素的字体大小 */
}

.center-box .randow-world p{
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: -webkit-box;  /* 老版本 iOS Safari */
    display: -ms-flexbox;  /* IE 10 */
    display: flex;
    justify-content: space-around;
}

nav ul li a, .contact a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s, border-bottom 0.5s; /* 平滑过渡效果 */
}

nav ul li a {
    color: #333;
    font-weight: bold;
}

nav ul li a:hover, nav ul li a:focus {
    color: #fff; /* 改变文字颜色 */
    background-color: #007BFF; /* 改变背景颜色 */
    border-radius: 5px;
}

.contact a:hover, .contact a:focus {
    color: #000; /* 改变文字颜色 */
    background-color: #fff; /* 改变背景颜色 */
    border-radius: 5px;
}

/* 导航栏布局样式 */
nav {
    padding: 10px 0; /* 上下内边距 */
    width: 100%; /* 宽度占满整个屏幕 */
    z-index: 1000;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}



footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

@media (min-width: 800px) {
    body {
        font-size: 16px; /* 对于宽度大于800px的设备使用固定字体大小 */
        font-weight: bold;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    body {
        -webkit-font-smoothing: antialiased;
    }
}